<?xml version="1.0"?>
<config>
	<reportPath>
			/tmp/
	</reportPath>

	<databaseToUse>
			sqlite
	</databaseToUse>

	<pathToSQLITE>
			../databases/sqlite
	</pathToSQLITE>

	<mysql_host>
			localhost
	</mysql_host>

	<mysql_db>
			iScanner
	</mysql_db>

	<mysql_user>
			user
	</mysql_user>
</config>
