$def with (last_scan,infected_file,session_name,risk_high_chart,risk_meduim_chart,risk_low_chart,risk_information_chart)
<html lang="en"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>iScanner CP | Dashboard</title>
	<link href="./static/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="./static/assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="./static/assets/css/icons.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="./static/assets/css/fontawesome/font-awesome.min.css">
	<script type="text/javascript" src="./static/assets/js/libs/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./static/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./static/assets/js/Chart.js"></script>
	</head>

<body class="theme-bright breakpoint-1200" style="height: 259px;">
	<header class="header navbar navbar-fixed-top" role="banner">
		<div class="container">
			<a class="navbar-brand" href="index">
				<img src="./static/assets/img/logo.png" alt="logo">
			</a>
			<ul class="nav navbar-nav navbar-left">
				<li>
				</li>
				<li class="dropdown user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-male"></i>
						<span class="username">My Account</span>
						<i class="icon-caret-down small"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="logout"><i class="icon-key"></i>Logout</a></li>
					</ul>
				</li>
				<li class="dropdown">
				</li>		
			</ul>
			<ul class="nav navbar-nav">
				<li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
			</ul>
		</div>
		<div style="position: relative; margin-top: 0px; display: none;" id="project-switcher" class="container project-switcher">
			<div id="scrollbar">
				<div class="handle"></div>
			</div>
			<div style="position: relative; overflow: hidden; width: 100%; height: auto;" class="slimScrollDiv"><div style="overflow: hidden; width: 100%; height: auto;" id="frame">
			</div><div style="background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 5px; position: absolute; bottom: 1px; opacity: 0.2; display: block; border-radius: 5px; z-index: 99; left: 0px;" class="slimScrollBar ui-draggable"></div><div style="width: 100%; height: 5px; position: absolute; bottom: 1px; display: none; border-radius: 5px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90;" class="slimScrollRail"></div></div> <!-- /#frame -->
		</div>
	</header>
	<div class="fixed-header" id="container">
		<div id="sidebar" class="sidebar-fixed">
			<div style="height: 100%; overflow: hidden; position: relative; width: auto;" class="slimScrollDiv"><div style="overflow: hidden; width: auto; height: 100%;" id="sidebar-content">
				<ul id="nav">
					<li class="current">
						<a href="/index">
							<i class="icon-dashboard"></i>
							 Dashboard
						</a>
					</li>
					<li>
						<a href="/reports">
							<i class="icon-bar-chart"></i> Reports</a>
					</li>
					<li>
						<a href="/new_scan">
							<i class="icon-desktop"></i> New Scan</a>
					</li>
				</ul>
			<div class="fill-nav-space"></div><div class="fill-nav-space"></div><div class="fill-nav-space"></div><div class="fill-nav-space"></div></div><div style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 626px;" class="slimScrollBar"></div><div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div>
			<div id="divider" class="resizeable"></div>
		</div>
			<div id="content">
			<div class="container">
				<div class="page-header">
					<div class="page-title">
						<h3>Dashboard</h3>
						<span>Welcome : <b>$session_name</b></span>
					</div>					
				</div>
				<div class="col-md-6">
									<canvas align="center" id="canvas" height="450" width="450"></canvas>
 

                        	<script>

                      var pieData = [
				{
					value: $risk_high_chart,
					color:"#C80000"
				},
				{
					value : $risk_meduim_chart,
					
					color : "#00fff0"
				},
				{
					value : $risk_low_chart,
					color : "#04b926"
				},
				{
					value : $risk_information_chart,
					color : "#FFFF66"
				}
			
			];

	               var myPie = new Chart(document.getElementById("canvas").getContext("2d")).Pie(pieData);
	
	                 </script>
				</div>
				<div class="col-md-6" style="margin-top:100px">
						<div class="widget box">
							<div class="widget-header">
								<h4>Malwares found in last scan ($last_scan) : </h4>
								<div class="toolbar no-padding">
									
								</div>
							</div>
							<div class="widget-content">
								<table class="table table-hover table-condensed">
									
										<tbody><tr>
											<td style="background-color:#ad0303"></td>
											<td style="padding-left:30px">High risk malware</td>
											<td>$risk_high_chart</td>
										</tr>
										<tr>
											<td style="background-color:#00fff0"></td>
											<td style="padding-left:30px">Meduim risk malware</td>
											<td>$risk_meduim_chart</td>
										</tr>
										<tr>
											<td style="background-color:#04b926"></td>
											<td style="padding-left:30px">Low risk malware</td>
											<td>$risk_low_chart</td>
										</tr>
										<tr>
											<td style="background-color:#f6ff00"></td>
											<td style="padding-left:30px">information</td>
											<td>$risk_information_chart</td>
										</tr>
								
								</tbody></table>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</body>
</html>
